/* Painel */
body {
    background: color #f1f1f1;;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #93b394;
}

.container {
    margin: 50px;
    background-color: #fff;
    width: calc(100% - 100px);
    padding: 30px;
    align-items: center;
    border-radius: 5px
}

.container h1 {
    padding: 10px;
    text-align: center;
}
.container .table {
    margin-top: 20px;
}

.botoes {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background-color: rgb(135, 179, 228);
    display:flexbox;
    margin-right: 10px;
}

.botoes:hover {
    background-color: rgb(114, 221, 110);
}
.botoes-vermelho {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background-color: rgb(228, 135, 135);
    display:flexbox;
    margin-right: 10px;
}

.botoes-vermelho:hover {
    background-color: rgb(226, 88, 88);
}

.botoes img , .botoes-vermelho img{
    width: 20px;
    height: 20px;
}

.forms{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    margin-top: 40px;
    width: calc(100% - 100px);
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

.formulario label {
    margin-top: 15px;
}
.formulario button {
    margin-bottom: 20px;
    margin-top: 15px;
}